@import url('../../../styles.css');
  
.brands-item {
  height: 2rem;
  font-size: smaller;
  color: #00000050;
  background-color: var(--background-color);
}

  @media (min-width: 1200px) {
    .brands {
      grid-template-columns: repeat(12, 1fr);
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .brands {
      grid-template-columns: repeat(8, 1fr);
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .brands {
      grid-template-columns: repeat(6, 1fr); 
    }
  }
  
  @media (max-width: 767px) {
    .brands {
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  @media (max-width: 480px) {
    .brands {
      grid-template-columns: repeat(2, 1fr); 
    }
  }